.login {
    margin: auto;
    padding: 70px 0;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    row-gap: 40px;
}

.login__welcome {
    margin: 0;

    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
}

.login__form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.login__label {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 10px;

    color: #8b8b8b;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 12px;
}

.login__input {
    width: 366px;
    height: 16px;
    padding: 15px;

    border: none;
    background-color: #2f2f2f;
    border-radius: 8px;

    color: #fff;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 16px;
}

.login__input_invalid {
    color: #EE3465;
}

.login__input-error {
    max-width: 396px;
    height: 12px;
    padding-bottom: 10px;

    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 12px;

    color: #EE3465;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.login__label:last-of-type {
    padding-bottom: 159px;
}

.login__submit-button {
    width: 396px;
    height: 45px;
    align-self: flex-end;

    color: #fff;
    border: none;
    background: #4285f4;
    border-radius: 3px;
    
    cursor: pointer;
}

.login__submit-button_disable {
    background-color: #2F2F2F;
}

.login__button:hover {
    opacity: 0.8;
}

.login__paragraph {
    margin: 0;
    padding-top: 16px;

    color: #fff;
    text-align: center;

    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
}

.login__link {
    text-decoration: none;
    color: #4285f4;
}

.login__link:hover {
    opacity: 0.8;
}

@media screen and (max-width: 768px) {
    .login {
        padding: 232px 0;
    }
    .login__label:last-of-type {
        padding-bottom: 179px;
    }
}

@media screen and (max-width: 456px) {
    .login {
        padding: 56px 0 30px;
    }
    .login__label:last-of-type {
        padding-bottom: 247px;
    }
    .login__input {
        width: 230px;
    }
    .login__button {
        width: 260px;
    }
    .login__paragraph {
        margin: 0;
        padding-top: 15px;
    }
    .login__paragraph {
        padding-top: 14px;
        font-size: 12px;
        line-height: 15px;
    }
}
